.card {
  background-color: white;
  width: 100%;
  height: 135px;
  border-radius: 8px;
  border-style: solid;
  cursor: pointer;
  transition: box-shadow 0.15s;
  
}

.card:hover {
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.15);
}

.img {
  width: 135px;
  height: 135px;
  object-fit: contain;
  opacity: 0;
  transition: opacity 200ms ease;
  /*transform: scale(0.6);
  transition: opacity 200ms ease, transform 200ms ease;*/
  
}

.img.show {
  opacity: 1;
  transform: scale(1);
}