.player {
  
  font-family: "Abril Fatface";
  font-weight: bold;
  font-size: 40px;
  border: none;
  border-radius: 10px;
  background-color:rgb(6, 5, 5);
  padding: 5px 40px 10px 40px;
  color: white;
  
 
  transition: opacity 0.15s;
  cursor: pointer;

}


.player:hover {
  opacity: 0.8;
}

.player:active {
  opacity: 0.7;
}