.result {
  display: flex;
  column-gap: 60px;
}

.winner {
  font-family: "Abril Fatface";
  font-weight: bold;
  font-size: 40px;
  
}

.again {
  
  font-family: "Abril Fatface";
  font-weight: bold;
  font-size: 40px;
  border: none;
  border-radius: 10px;
  background-color:rgb(6, 5, 5);
  padding: 5px 40px 10px 40px;
  color: white;
  
  margin-top: 40px;
  margin-bottom: 40px;
  transition: opacity 0.15s;
  cursor: pointer;

}

.again:hover {
  opacity: 0.8;
}

.again:active {
  opacity: 0.7;
}