.game {
  display: flex;
  flex-direction: column;

  align-items: center;
  margin-top: 20px;

  justify-content: space-between;
  width: 1000px;
}
.container {
  display: grid ;
  grid-template-columns: 135px 135px 135px;
  column-gap: 15px;
  row-gap: 10px;
 
  border-radius: 8px;
  
}

.gameName {
  font-family: "Abril Fatface";
  font-weight: bold;
  font-size: 70px;
  letter-spacing: 2;
  margin-top: 0;
  margin-bottom: 35px;
 
}